.field
  display: flex
  flex-direction: column
  justify-content: space-between
  border: 5px solid #40B3A2
  border-radius: 2px
  margin-top: 58px
  .field__row
    display: flex
    justify-content: space-between
    align-items: center

  .field__element
    min-width: 91px
    height: 91px
    display: flex
    justify-content: center
    align-items: center
    &_dark
      background: #85CDCA
    &_reversed
      transform: rotateX(180deg)

  .figure
    min-width: 35px
    max-width: 48px
    height: auto
