.card-container
  width: 100px
  height: 100px
  margin: 0 12px 19px
  display: flex
  align-items: center
  justify-content: space-around
  perspective: 160px
  &_small
    width: 100px
    height: 100px
    margin: 0 12px 19px
  &_big
    width: 140px
    height: 140px
    margin: 0 23px 35px
  &_blocked,
  &_guessed
    pointer-events: none

  .card
    position: relative
    width: 100%
    height: 100%
    transition: all linear 300ms
    cursor: pointer
    transform-style: preserve-3d
    transform-origin: left
    background-color: rgba(0,0,0,.05)
    border-radius: 10px
    &_flipped
      transform: rotateY(180deg) translateX(100%)
      border: 1px solid #2196F3
      transform-origin: right

    &_wrong ~ .card-container__shadow
      transition: all linear 0ms
      transition-delay: 500ms
      background: rgba(360, 0, 0, 0.2)
      z-index: 35
      position: absolute
      left: 0
      right: 0
      bottom: 0
      top: 0
      border-radius: 10px

    &__front,
    &__back
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      backface-visibility: hidden
      border-radius: 10px

    &__back
      background-size: cover
      background-position: center center
      transform: rotateY(180deg)

    &__front
      background: url("../../../img/default.png") no-repeat
      background-size: cover
      background-position: center center

  &_guessed
    .card-container__shadow
      transition: all linear 1500ms
      transition-delay: 300ms
      background: rgba(0,228,64,0.3)
      z-index: 35
      position: absolute
      left: 0
      right: 0
      bottom: 0
      top: 0
      border-radius: 10px
