.header
  background: #85CDCA
  height: 84px
  position: relative
  border: 5px solid #40B3A2
  border-radius: 5px 5px 0 0
  &__logo
    position: absolute
    bottom: 0px
    left: -20px

  &__back-to-replays-btn
    width: 413px
    height: 55px
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 3px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    border-top: 2px solid #E27D5F
    border-bottom: 2px solid #E27D5F
    color: #fff
    font-family: Open Sans
    font-size: 24px
    font-style: normal
    font-weight: 700
    line-height: 33px
    letter-spacing: 0em
    text-align: center
    position: relative
    &__link,
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0

  &__lobby-btn-link,
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0

  &__winner-image
    position: absolute
    width: 31px
    height: 31px
    opacity: 0
    transition: all linear 300ms
    pointer-events: none

  &__replay-speed
    position: absolute
    right: -160px
    display: flex
    flex-direction: row
    width: 139px
    justify-content: space-between
    align-items: center
    &-item
      font-family: Open Sans
      font-size: 12px
      font-style: normal
      font-weight: 700
      line-height: 16px
      letter-spacing: 0em
      text-align: center
      width: 28px
      height: 28px
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      border: 0px solid #e8a77c00
      box-sizing: border-box
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25)
      background: #c4c4c4
      user-select: none
      cursor: pointer
      &_active
        border: 3px solid #E8A87C
        background: #85CDCA
        pointer-events: none

  &__player-block
    width: 55px
    height: 55px
    background: #E27D5F
    display: flex
    justify-content: center
    align-items: center
    &_1
      .header__player-name
        background: #fff
        color: #40B3A2
      .header__winner-image
        left: 68px
    &_2
      .header__player-name
        background: #85CDCA
        color: #fff
      .header__winner-image
        right: 68px

    &_winner
      .header__winner-image
        opacity: 1

  &__player-name
    width: 34px
    height: 34px
    border-radius: 50%
    background: #fff
    display: flex
    justify-content: center
    align-items: center
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25)
    font-family: Open Sans
    font-size: 18px
    font-style: normal
    font-weight: 700
    line-height: 25px
    letter-spacing: 0em
    text-align: center

  &__container
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    height: 100%
  &__round-time
    background: #F2FFFF
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 2px
    font-family: Open Sans
    font-size: 18px
    font-style: normal
    font-weight: 700
    line-height: 25px
    letter-spacing: 0em
    text-align: center
    color: #68A5A3
    width: 248px
    height: 55px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    user-select: none
  &__admit-loss
    width: 248px
    height: 55px
    background: #E27D5F
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 2px
    font-family: Open Sans
    font-size: 24px
    font-style: normal
    font-weight: 700
    line-height: 33px
    letter-spacing: 0em
    text-align: center
    text-transform: uppercase
    color: #FFFFFF
    cursor: pointer

  &__lobby-btn
    width: 248px
    height: 55px
    background: #40B3A2
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 2px
    font-family: Open Sans
    font-size: 24px
    font-style: normal
    font-weight: 700
    line-height: 33px
    letter-spacing: 0em
    text-align: center
    color: #fff
    cursor: pointer

  &__replay-btn
    width: 248px
    height: 55px
    background: #E27D5F
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 2px
    font-family: Open Sans
    font-size: 24px
    font-style: normal
    font-weight: 700
    line-height: 33px
    letter-spacing: 0em
    text-align: center
    color: #FFFFFF
    cursor: pointer

  &__container_align-center
    display: flex
    justify-content: center
    .header__lobby-btn
      margin: 0 45px
      position: relative
