.register-popap
  height: 460px
  width: 640px
  top: calc(50% - 230px)
  left: calc(50% - 320px)
  display: none
  padding: 21px 16px 26px
  .popap__title
    font-family: Roboto
    font-size: 20px
    font-style: normal
    font-weight: 500
    line-height: 30px
    letter-spacing: 0.15000000596046448px
    text-align: left
    margin-top: 0
    margin-bottom: 50px

input
  width: 328px
  height: 56px
  background: #21212114
  border: 0
  border-radius: 4px 4px 0px 0px
  border-bottom: 1px solid rgba(0, 0, 0, 0.6)
  margin-bottom: 16px
  outline: none
  padding-top: 20px
  padding-left: 25px
  font-family: Roboto
  font-size: 16px
  font-style: normal
  font-weight: 400
  line-height: 24px
  letter-spacing: 0.15000000596046448px
  text-align: left
.container
  position: relative
  padding-left: 0
  .popap__p
    margin: 0
    font-family: Roboto
    font-size: 12px
    font-style: normal
    font-weight: 400
    line-height: 16px
    letter-spacing: 0.4000000059604645px
    text-align: left
    z-index: 20
    color: black
    position: relative
    top: -65px
    left: 25px
    color: #00000061

.popap__img
  display: inline-block
  vertical-align: top
  margin-top: 20px
  margin-left: 30px
  object-position: center
  object-fit: contain
  max-width: 234px
  width: 234px
  max-height: 188px

.register-popap_active
  display: block

.inputs-container
  max-width: 360px
  display: inline-block

.popap__add-user,
.popap__cancel
  position: absolute
  bottom: 26px
  text-transform: uppercase
  border-radius: 4px
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24)

.popap__cancel
  right: 20px
  background: #E3F2FD
  color: #2196F3
.popap__add-user
  right: 129px
  background: #2196F3
  color: #FFFFFF

.input_active ~ .popap__marker
  opacity: 1

input~ .p_wrong
  opacity: 1

.input_active ~ .p_wrong
  opacity: 0

.button_locked
  background: #00447c
  pointer-events: none

.p_wrong
  position: absolute
  top: 2px
  right: 20px
  font-size: 12px
  color: red
  opacity: 0
  transition: all linear 200ms

.popap__input_file
  padding: 0
  margin: 0
  position: absolute
  width: 177px
  height: 182px
  right: 60px
  bottom: 156px
  appearance: none
  background: none
  opacity: 0
  cursor: pointer
