.figure-container
  position: absolute
  top: 0
  left: 0
  width: 91px
  height: 91px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer

  &_blocked
    pointer-events: none
    z-index: 10

  &_reversed
    transform: rotateX(180deg)

  &__promotion
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    background: #25ff25
    z-index: 30
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: space-between
    transform: rotateY('180deg')
    .promotion-item
      width: 45px
      height: auto
      border: 1px solid black
      display: flex
      justify-content: center
      align-items: center
      font-family: Open Sans
      font-size: 24px
      font-style: normal
      font-weight: 700
      line-height: 33px
      letter-spacing: 0em
      text-align: center
